<h1>Listing all Questions</h1>



<table>
  <tr>
    <th> Title</th>
    <th> Text </th>
  </tr>

  <% @questions.each do |question| %>
  <tr>
    <td> <%= question.title %> </td>
    <td> <%= question.body %> </td>
  </tr>
  <% end %>


</table>

<%= link_to 'New Question', new_question_path %>